# --- Scraping & Web ---
requests
beautifulsoup4

# --- Analyse de données & Calcul ---
pandas
numpy
openpyxl
scipy

# --- Machine Learning & NLP ---
scikit-learn
nltk
wordcloud

# --- Visualisation ---
matplotlib
seaborn

# --- Link Analysis ---
networkx